* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/images/login_bg.jpg) no-repeat center;
    background-size: cover;
}

.loginAndRegBox {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loginAndRegBox .title {
    width: 400px;
    height: 60px;
    background: url(/assets/images/login_title.png) no-repeat center;
}

.loginAndRegBox .reg-box {
    display: block;
}


/* 登录表单 */

.layui-form {
    padding: 0 30px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.links a {
    font-size: 12px;
}


/* 图标内嵌 */

.layui-form-item {
    position: relative;
}

.layui-form-item .layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}


/*  */

.layui-form-item .layui-input {
    padding-left: 32px;
}